300_Transformers/out
300_Transformers/train
300_Transformers/test
images/
annotations/
yolov7/
train/
val/
test/
*.pt
.vector_cache/
tweets_X.pkl
ind.pubmed*
!350_SemiSupervised/data/train/
!350_SemiSupervised/data/test/
*.pyc
venv/
# Ignore contents of .vscode, but not the directory itself
.vscode/*
# Un-ignore specific files
!.vscode/settings.json
!.vscode/tasks.json
# Audio files
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.m4a
*.wma
*.opus